<div class="container">
  <div class="navbar">
    <div class="logo babes">SM</div>
    <div>
      <ul class="menu poppins">
        <li>Home</li>
        <li>About us</li>
        <li>Services</li>
        <li>Blog</li>
      </ul>
    </div>
    <div class="login-signup">
      <div class="buttons">Login</div>
      <div class="buttons">Sign up</div>
    </div>
  </div>
  <div class="main-content">
    <div>
      <h1 class="poppins">
        Connect Your Skills<br />Elevate Your <span class="pext">Learning</span
        ><br />Effortlessly
      </h1>
      <p class="inter">
        A space where learning meets connection. Dive into a world where your
        skills are <br />
        your currency, enabling you to engage, share, and grow with others just
        like you.
      </p>
      <a href="#" class="button">Join Now!</a>
    </div>
    <div class="mainpage-img">
      <img src="../../assets/Images/SkillMingle.png" alt="skillmingle main image" width="600">
    </div>
  </div>
  <div class="stats">
    <div class="stat">
      <h2>115k+</h2>
      <p>Active user</p>
    </div>
    <div class="stat">
      <h2>88k</h2>
      <p>User passive</p>
    </div>
    <div class="stat">
      <h2>30%</h2>
      <p>Increase in user</p>
    </div>
    <div class="stat">
      <h2>>10k</h2>
      <p>Good Testimonials</p>
    </div>
  </div>
</div>
